h1
{
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

body
{
    text-align: center;
    background-color: purple;
}

img
{
    height: 600px;
    width: 900px;
}

h3{
    color: white;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}